*{
    box-sizing: border-box;
}
body{
    background-color: #eee;
    display: flex;
    justify-content: center ;
}
.container{

width: 1200px;
}
.menu{
    display: flex;
    
}
.links{
    display: flex: ;
}


.happydog{
    background-image: url("../img/happiest-dog.webp");
    border-radius: 10px;
    height: 600px;
}



h1{
    color: white;
    font-size: 70px;
}
#whitep{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 2px;
    border-radius: 4px;

}
ul{
list-style: none;
}